html {
    height: 100%;
    width: 100%;
    display:flex;
    margin:0;
    padding:0;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display:flex;
    flex-grow: 1;
    flex-direction: column;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    background-color: rgb(46, 0, 66);
    position:sticky;
    top:0;
}

.navbutton {
    background-color: black;
    padding:1rem 2rem;
    border-radius: 1rem;
    color:white;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding:1rem 0;
}

p {
    margin: 0;
}

.main-content {
    display:flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem 3rem;
    background-color: #101010;
    width:70%;
    flex: 1 0;
    color: white;
}